{% load bootstrap %}
 <script type="text/javascript">
   $('#demo-form2').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: $(this).serialize(),
            success: function(resp){
                if(resp == "success"){
                    alert("Cambiaste su contraseña correctamente! se actualizará la página");
                    window.location.href = '/';
                }
                if(resp == "error"){
                    alert("Error ingrese sus datos correctos");
                }
            }
        });
    });
 </script>
 <form method="POST" action="changePassword" role="form" class="form-horizontal" id="demo-form2" data-parsley-validate >{% csrf_token %}
                {{form|bootstrap_horizontal:'col-xs-4'}}
     <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="reset" class="btn btn-warning">Borrar</button>
        </div>
      </div>
  </form>