{% load bootstrap %}

<script type="text/javascript">
$('#demo-form2').submit(function(e){
		e.preventDefault();
		$.ajax({
			type:'POST',
			url:$(this).attr('action'),
			data: $(this).serialize(),
			success:function(resp){
                $('#demo-form2 legend').html('Se actualizaron tus datos correctamente! se actualizará la página en 3 seg.');
                setInterval(function () {
                    window.location.href = '/';
                },3000);

			}
		});
	});
</script>
<form  method="POST" action="updateUser" role="form" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">{% csrf_token %}
	<legend>Actualizar mi información</legend>
  {{ user_form|bootstrap_horizontal:'col-xs-4'}}
    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Editar</button>
        <button type="button" class="btn btn-secondary" onclick="menuLink('/RegistrarCli')">Cancelar</button>
        </div>
      </div>
</form>
</div>