{% load bootstrap %}
 <script type="text/javascript">
   $('#demo-form2').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: $(this).serialize(),
            success:function(resp){
                menuLink('/LitarElementos');
                $(".modal .close").click();
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
            }
        });
    });
 </script>   
 <form method="POST" action="/CrearElemento" role="form" class="form-horizontal" id="demo-form2" data-parsley-validate >{% csrf_token %}
                {{forms|bootstrap_horizontal:'col-xs-4'}}
     <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="reset" class="btn btn-warning">Borrar</button>
        </div>
      </div>
  </form>