<style>
	form input{
		width: 80px;
	}
</style>
{% load bootstrap %}
<div class="table-responsive">
<div class="btn-group">
	<button class="btn btn-primary" data-toggle="modal" onclick="detalleClient('/update-client/{{cliente.id}}','EDITAR LOS DATOS DEL CLIENTE')" data-target="#exampleModal">Editar Datos Del Cliente</button>
</div>
<table class="table table-hover table-striped">
	<tr class="success">
		<td align="center" colspan="8"><strong>LOTES REGISTRADOS</strong></td>
	</tr>
	<tr>
		<td colspan="5"><br><strong>PERTENECIENTE A:</strong> {{cliente.Nombre|upper}}</td>
		<td colspan="1"><br><strong>TELÉFONO:</strong> {{cliente.Telefono|default_if_none:"--"}}</td>
		<td colspan="2"><br><strong>DIRECCIÓN:</strong> {{cliente.Direccion}}</td>
	</tr>
	<tr><td colspan="4"><br><strong>NIT: </strong>{{cliente.Nit|default_if_none:"--"}}</td>
		<td colspan="2"><br><strong>Fecha de Registro:</strong> {{cliente.fecha_registro|date:"l d M Y"}}</td>
		<td><br><strong>Cliente: </strong>{% if cliente.Particular %}Particular{% else %}Empresa{% endif %}</td>
		<td colspan="1"><br>Estado:  {% if cliente.estado %}
				<strong style="color:green">Activo</strong>
			{% else %}
				<strong style="color:red">Baja</strong>
			{% endif %}</td>
	</tr>
	
				
			
</table>

</div>
<div class="row">
	<form method="POST" action="/RegisterNewProductAndResult/{{cliente.id}}/" role="form" class="form-inline" id="formresult" data-parsley-validate >
		{% csrf_token %}         
		 {{forms}}
		 {{formR}}
		 <div class="form-group row" style="margin-left: 5px;">
		   <button type="submit" class="btn btn-primary">Registrar</button>
		   <button type="reset" class="btn btn-warning">Borrar</button>
		 </div>
	 </form>
	</div>
<script type="text/javascript">
 $('#formresult').submit(function(e){
	   e.preventDefault();
	   var dato=$(this).serialize();
	   $.ajax({
		   type:'POST',
		   url:$(this).attr("action"),
		   data: dato,
		   success:function(resp){
				$(".x_content").html(resp);
			   $(".modal .close").click();
		   }
	   });
   });
	function detalleClient(route,title){
		$(".modal-title").text(title);
        $.ajax({
            type:'GET',
            url:route,
            success:function(resp){
                $(".modal-body").html(resp);  
            }
        });
	}	
</script>