<style>
	form input{
		width: 80px;
	}
</style>
{% load bootstrap %}
<div class="table-responsive">
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">OPCIONES    <span class="caret"></span>
      </button>
      <ul role="menu" class="dropdown-menu">
              <li><a href="#" data-toggle="modal" onclick="detalleClient('/update-client/{{cliente.id}}','EDITAR LOS DATOS DEL CLIENTE')" data-target="#exampleModal">Editar Datos Del Cliente</a></li>
               <li><a href="#" data-toggle="modal" id=myModal onclick="detalleClient('/new-producto-a-ingreso/{{ingreso.id}}','AGREGAR NUEVO PAQUETE')" data-target="#exampleModal">Registrar paquete</a></li>
      </ul>
    </div>
    <table class="table table-hover table-striped">
        <tr class="success">
            <td align="center" colspan="6"><strong>REPORTE DE ANALISIS</strong></td>
            <td style="color:red"> Nro. CERT. {{ingreso.id}}</td><td></td>
        </tr>
        <tr>
            <td colspan="5"><br><strong>PERTENECIENTE A:</strong> {{ingreso.cliente.Nombre|upper}}</td>
            <td colspan="1"><br><strong>TELÉFONO:</strong> {{ingreso.cliente.Telefono|default_if_none:"--"}}</td>
            <td colspan="2"><br><strong>DIRECCIÓN:</strong> {{ingreso.cliente.Direccion}}</td>
        </tr>
        <tr><td colspan="4"><br><strong>NIT: </strong>{{cliente.Nit|default_if_none:"--"}}</td>
            <td colspan="2"><br><strong>Fecha de Registro:</strong> {{ingreso.cliente.fecha_registro|date:"l d M Y"}}</td>
            <td><br><strong>Cliente: </strong>{% if ingreso.cliente.Particular %}Particular{% else %}Empresa{% endif %}</td>
            <td colspan="1"><br>Estado:  {% if ingreso.cliente.estado %}
                    <strong style="color:green">Activo</strong>
                {% else %}
                    <strong style="color:red">Baja</strong>
                {% endif %}</td>
        </tr>
    </table>
    <div class="row">
        <form method="POST" action="/detalle-ingreso-cliente/{{ingreso.id}}/" role="form" class="form-inline" id="formresult" data-parsley-validate >
            {% csrf_token %}         
             {{forms}}
             {{formR}}
             <div class="form-group row" style="margin-left: 5px;">
               <button type="submit" class="btn btn-primary">Registrar</button>
               <button type="reset" class="btn btn-warning">Borrar</button>
             </div>
         </form>
        </div>
    <table class="table table-striped table-bordered">
        <thead  class="success">
            <th style="width: 3%;">Nro</th>
            <th>FECHA</th>
            <th>LOTE</th>
            <th>Zinc</th>
            <th>Plata</th>
            <th>Plomo</th>
            <th>Estaño</th>
            <th>Cobre</th>
            <th>H2O</th>
        </thead >
        <tbody>
        {% for i in productos %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.fecha_registro|date:"l d M Y"}}</td>
            <td>{{i.Lote|upper}}</td>
            {% for j in results %}       
                {% if j.producto_id == i.id %}
                    <td>{{j.Zinc}}</td>
                    <td>{{j.Plata}}</td>
                    <td>{{j.Plomo}}</td>
                    <td>{{j.Estanio}}</td>
                    <td>{{j.Cobre}}</td>
                    <td>{{j.H2O}}</td>
                {% endif %}
            {% endfor %}
            <td>
                {% if i.estado %}
               <!--  <button type="button" class="btn btn-success btn-xs" onclick="detalleClient('/RegisterResultados/{{i.id}}','REGISTRAR MUESTRA DE MINERAL DE: {{i.Cliente.Nombre|upper}}')" data-toggle="modal" data-target=".bd-example-modal-lg">Resultados</button> -->
                    {% if user.is_superuser %}
                        <button type="button" class="btn btn-info btn-xs" onclick="detalleClient('update-product/{{i.id}}','Editar el paquete: {{i.Lote|upper}}')" data-toggle="modal" data-target="#exampleModal">Editar</button>
                    {% endif %}
                {% else %}
                <button type="button" class="btn btn-danger btn-xs" onclick="restoreProduct('/restore-producto/{{i.id}}',' ')">Restaurar</button>
                {% endif %}
            </td>
           <!-- <td>
                {% if i.estado %}
                <input type="checkbox"  name="checks[]" value="{{i.id}}" id="id_product">
                {% endif %}
            </td>-->
        </tr>
        {% endfor %}
            {% if productos.count > 0 %}
            <tr><td colspan="5"></td><td><button type="button" href="#" id="print"onclick="printCertify('/print-certify/{{ingreso.id}}','')" class="btn btn-warning" >Imprimir</button></td></tr>
            {% endif %}
        </tbody>
    </table>
    </div>
    <script type="text/javascript">
        $('#formresult').submit(function(e){
            e.preventDefault();
            var dato=$(this).serialize();
            $.ajax({
                type:'POST',
                url:$(this).attr("action"),
                data: dato,
                success:function(resp){
                        $(".x_content").html(resp);
                }
            });
        });
        function detalleClient(route,title){
            $(".modal-title").text(title);
            $.ajax({
                type:'GET',
                url:route,
                success:function(resp){
                    $(".modal-body").html(resp);  
                }
            });
        }
        function restoreProduct(route,title){
            $.ajax({
              type:'GET',
              url: route,
              success:function(resp){
                $('.x_content').html(resp);
                /*
    fix this part because when I'm restoring a product it shows and hides the modal
    ***
    To fix, you need to send the request to a url, then create a template that will display the product data.
    */
                $(".modal .close").click();
              }
            });
        }
        var listIdProduct;
        $('[name="checks[]"]').click(function() {
          
          var arr = $('[name="checks[]"]:checked').map(function(){
            return this.value;
          }).get();
          
          listIdProduct = arr.join(',');
          
          //console.log(JSON.stringify(arr));
          
          //console.log(str);
        
        });
        function printCertify(route){
            window.open(route);
        }
    </script>
