
<h2 colspan="5" align="center">DETALLE DE ANALISIS DE MINERALES</h2>

<form class="form-inline" method="POST" id="Busqueda">{% csrf_token %}
	<div class="form-group">
		<label for="">Desde:</label>
		<input type="" class="form-control" name="inicio" id="ini" placeholder="DD/MM/AA" style="width: 12% !important;">
		<label for="">Hasta:</label>
		<input type="" class="form-control" name="final" id="fin" placeholder="DD/MM/AA" style="width: 12% !important;">
		<select name="" id="" class=" form-control" data-size="5" data-width="fit">
			<option value="0">Elegir cliente</option>
			{% for c in clients %}
			<option value="{{c.id}}">{{c.Nombre|upper}}</option>
			{% endfor %}
		</select>
		<button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" 
		onclick="listResult()"><span class="fa fa-database">
			Resultado
		</span>
		</button>
		<button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" 
			onclick="listResult()"><span class="fa fa-database">
				Imprimir
			</span>
		</button>
	</div>	
</form>  
<div class="table-responsive">      
</div>
<script type="text/javascript">
    $( function() {
        console.log("bien");
    $( "#ini" ).datepicker({
    	prevText: '<Ant',
		 nextText: 'Sig>',
		 currentText: 'Hoy',
		 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
    });
    $( "#fin" ).datepicker({
    	prevText: '<Ant',
		 nextText: 'Sig>',
		 currentText: 'Hoy',
		 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
    });
  } );

</script>   
