
<h2 colspan="5" align="center">DETALLE DE ANALISIS DE MINERALES</h2>

<form class="form-inline" method="POST" id="Busqueda">{% csrf_token %}
	<div class="form-group">
		<label for="">Desde:</label>
		<input type="" class="form-control" autocomplete="off" name="inicio" id="ini" placeholder="DD/MM/AA" style="width: 12% !important;">
		<label for="">Hasta:</label>
		<input type="" class="form-control" autocomplete="off" name="final" id="fin" placeholder="DD/MM/AA" style="width: 12% !important;">
		<select name="cliente" id="cliente" class=" form-control" data-size="5" data-width="fit">
			<option value="0">Elegir cliente</option>
			{% for c in clients %}
			<option value="{{c.id}}">{{c.Nombre|upper}}</option>
			{% endfor %}
		</select>
		<button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" 
		onclick="listResult()"><span class="fa fa-database">
			Resultado
		</span>
		</button>
		<a href="#" button type="button" onclick="printReportGeneral()"class="btn btn-warning">Imprimir</a>
	</div>	
</form>  
<div class="table-responsive">      
</div>
<script type="text/javascript">
	function printReportGeneral(){
		var inicio = $("#ini").val();
		var fin = $("#fin").val();
		var clients_id = $("#cliente").val();
		if(inicio =='' || fin =='' || !isNaN(inicio) || !isNaN(fin) ){
			alert("Por favor Ingrese la fecha correctamente.");
			$("#ini").focus();
			return false
		}
		else{
			let fecha_inicio = inicio.split('/');//convert it to an array
			let a = fecha_inicio[0]+"-"+fecha_inicio[1]+"-"+fecha_inicio[2];
			let fecha_final = fin.split('/')
			let b = fecha_final[0]+"-"+fecha_final[1]+"-"+fecha_final[2];
			window.open("print-report-general/"+clients_id+"/"+a+"/"+b);
		}
	}
    $( function() {
        console.log("bien");
    $( "#ini" ).datepicker({
    	prevText: '<Ant',
		 nextText: 'Sig>',
		 currentText: 'Hoy',
		 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
    });
    $( "#fin" ).datepicker({
    	prevText: '<Ant',
		 nextText: 'Sig>',
		 currentText: 'Hoy',
		 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
    });
  } );

</script>   
