<div class="table-responsive">
<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">OPCIONES    <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
       <li><a href="#" data-toggle="modal" onclick="detalleClient('/update-client/{{cliente.id}}','EDITAR LOS DATOS DEL CLIENTE')" data-target="#exampleModal">Editar Datos Del Cliente</a></li>
       		<li><a href="#" data-toggle="modal" id=myModal onclick="detalleClient('/RegisterNewProductAndResult/{{cliente.id}}','AGREGAR NUEVO PAQUETE')" data-target="#exampleModal">Registrar paquete</a></li>
  </ul>
</div>
<table class="table table-hover table-striped">
	<tr class="success">
		<td align="center" colspan="6"> <strong>REPORTE DE ANALISIS</strong></td>
		<td style="color:red"> Nro. CERT. {{cliente.id}}</td><td></td>
	</tr>
	<tr>
		<td colspan="5"><br><strong>PERTENECIENTE A:</strong> {{cliente.Nombre|upper}}</td>
		<td colspan="1"><br><strong>TELÉFONO:</strong> {{cliente.Telefono}}</td>
		<td colspan="2"><br><strong>DIRECCIÓN:</strong> {{cliente.Direccion}}</td>
	</tr>
	<tr><td colspan="3"><br><strong>NIT: </strong>{{cliente.Nit}}</td>
		<td colspan="2"><br><strong>Fecha de Registro:</strong> {{cliente.fecha_registro|date:"l d M Y"}}</td>
		<td><br><strong>Cliente: </strong>{% if cliente.Particular %}Particular{% else %}Empresa{% endif %}</td>
		<td colspan="1"><br>Estado:  {% if cliente.estado %}
				<strong style="color:green">Activo</strong>
			{% else %}
				<strong style="color:red">Baja</strong>
			{% endif %}</td>
	</tr>
</table>
<table class="table table-hover table-striped">
	<thead  class="success">
		<th style="width: 3%;">Nro</th>
		<th>FECHA</th>
		<th>LOTE</th>

	</thead >
	{% for i in productos %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{i.fecha_registro|date:"l d M Y"}}</td>
		<td>{{i.Lote|upper}}</td>
		<td><button type="button" class="btn btn-success" onclick="detalleClient('/RegisterResultados/{{i.id}}','REGISTRAR MUESTRA DE MINERAL')" data-toggle="modal" data-target=".bd-example-modal-lg">Resultados</button></td>
		<td><input type="checkbox" name="product" id="id_product"></td>
		
	</tr>
	{% empty %}
	<tr> <td colspan="5" align="center"><strong>Aún no tiene paquetes registrados: registre aqui: </strong><a href="#" data-toggle="modal" id=myModal onclick="detalleClient('/RegisterNewProductAndResult/{{cliente.id}}','')" data-target="#exampleModal">Registrar paquete</a></td> </tr>
{% endfor %}
	{% if productos.count > 0 %}
	<tr><td colspan="4"></td><td><a href="#" class="btn btn-warning">Imprimir</a></td></tr>
	{% endif %}
</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").trigger("click");
	});
	function detalleClient(route,title){
		$(".modal-title").text(title);
        $.ajax({
            type:'GET',
            url:route,
            success:function(resp){
                $(".modal-body").html(resp);  
            }
        });
	}
</script>