<style>
	form input{
		width: 80px;
	}
    form{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    form #id_fecha{
		width: 90px;
	}
    form #id_Lote{
		width: 300px;
	}
	form label{
		width: 70px;
	}
</style>
{% load bootstrap %}
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr class="success">
            <td align="center" colspan="6"><strong>REPORTE DE ANALISIS</strong></td>
            <td style="color:red"> Nro. CERT. {{ingreso.id}}</td><td></td>
        </tr>
        <tr>
            <td colspan="5"><br><strong>PERTENECIENTE A:</strong> {{ingreso.cliente.Nombre|upper}}</td>
            <td colspan="1"><br><strong>TELÉFONO:</strong> {{ingreso.cliente.Telefono|default_if_none:"--"}}</td>
            <td colspan="2"><br><strong>DIRECCIÓN:</strong> {{ingreso.cliente.Direccion}}</td>
        </tr>
        <tr><td colspan="4"><br><strong>NIT: </strong>{{cliente.Nit|default_if_none:"--"}}</td>
            <td colspan="2"><br><strong>Fecha de Registro:</strong> {{ingreso.cliente.fecha_registro|date:"l d M Y"}}</td>
            <td><br><strong>Cliente: </strong>{% if ingreso.cliente.Particular %}Particular{% else %}Empresa{% endif %}</td>
            <td colspan="1"><br>Correo: <strong>{{ ingreso.cliente.Correo |default_if_none:"--"}}</strong></td>
        </tr>
    {% if user.is_superuser %}  
        {% if precio %}
        <tr>
            <td colspan="8"><br><strong>Precios por producto:</strong>
                <strong>Zinc: </strong>{{precio.Zinc}}
                <strong>Plata: </strong>{{precio.Plata}}
                <strong>Plomo: </strong>{{precio.Plomo}}
                <strong>Estaño: </strong>{{precio.Estanio}}
                <strong>Cobre: </strong>{{precio.Cobre}}
                <strong>H2O: </strong>{{precio.H2O}}
                <strong>Antimonio: </strong>{{precio.Antimonio}}
                <strong>Arsenico: </strong>{{precio.Arsenico}}
                <strong>Hierro: </strong>{{precio.Hierro}}
            </td>
        </tr>
        {% endif %}
    {% endif %}
    </table>
    <div class="row">
        <form method="POST" action="/detalle-ingreso-cliente/{{ingreso.id}}/" role="form" class="form-inline" id="formresult" data-parsley-validate >
            {% csrf_token %}         
                {{forms}}<br><br>
                <label for="">Zinc</label>
                {{formR.Zinc}}
    
                <label for="">Plata</label>
                {{formR.Plata}}
    
                <label for="">Plomo</label>
                {{formR.Plomo}}
    
                <label for="">Estaño</label>
                {{formR.Estanio}}
    
                <label for="">Cobre</label>
                {{formR.Cobre}}
                <br><br>
                <label for="">H2O</label>
                {{formR.H2O}}
    
                <label for="">Antimonio</label>
                {{formR.Antimonio}}
    
                <label for="">Arsenico</label>
                {{formR.Arsenico}}
    
                <label for="">Hierro</label>
                {{formR.Hierro}}
    
                <div class="form-group row" style="margin-left: 5px;">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn btn-warning">Borrar</button>
                </div>
            </form>
        </div>
    <table class="table table-striped table-bordered table-hover">
        <thead  class="success">
            <th style="width: 3%;">Nro</th>
            <th>FECHA</th>
            <th>LOTE</th>
            <th>Zinc</th>
            <th>Plata</th>
            <th>Plomo</th>
            <th>Estaño</th>
            <th>Cobre</th>
            <th>H2O</th>
            <th>Antimonio</th>
            <th>Arsenico</th>
            <th>Hierro</th>
            <th></th>
        </thead >
        <tbody>
        {% for i in productos %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.fecha|date:"d/m/Y"}}</td>
            <td>{{i.Lote|upper}}</td>
            {% for j in results %}       
                {% if j.producto_id == i.id %}
                    <td>{{j.Zinc|default_if_none:" "}}</td>
                    <td>{{j.Plata|default_if_none:" "}}</td>
                    <td>{{j.Plomo|default_if_none:" "}}</td>
                    <td>{{j.Estanio|default_if_none:" "}}</td>
                    <td>{{j.Cobre|default_if_none:" "}}</td>
                    <td>{{j.H2O|default_if_none:" "}}</td>
                    <td>{{j.Antimonio|default_if_none:" "}}</td>
                    <td>{{j.Arsenico|default_if_none:" "}}</td>
                    <td>{{j.Hierro|default_if_none:" "}}</td>
                {% endif %}
            {% endfor %}
            <td>
                {% if i.estado %}
               <!--  <button type="button" class="btn btn-success btn-xs" onclick="detalleClient('/RegisterResultados/{{i.id}}','REGISTRAR MUESTRA DE MINERAL DE: {{i.Cliente.Nombre|upper}}')" data-toggle="modal" data-target=".bd-example-modal-lg">Resultados</button> -->
                    {% if user.is_superuser %}
                        <button type="button" class="btn btn-info btn-xs" onclick="detalleClient('update-product/{{i.id}}','Editar el paquete: {{i.Lote|upper}}')" data-toggle="modal" data-target="#exampleModal">Editar</button>
                    {% endif %}
                {% else %}
                <button type="button" class="btn btn-danger btn-xs" onclick="restoreProduct('/restore-producto/{{i.id}}',' ')">Restaurar</button>
                {% endif %}
            </td>
           <!-- <td>
                {% if i.estado %}
                <input type="checkbox"  name="checks[]" value="{{i.id}}" id="id_product">
                {% endif %}
            </td>-->
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    {% if user.is_superuser %}
                    <button class="btn btn-danger" data-target="#exampleModal" data-toggle="modal" onclick="detalleClient('delete-ingreso/{{ingreso.id}}','Eliminar Certificado Nro. {{ingreso.id}}')">Eliminar el Certificado</button>
                    {% endif %}
                </td>
                <td>
                    {% if user.is_superuser %}
                    <button class="btn btn-default" data-target="#exampleModal" data-target="#staticBackdrop" data-toggle="modal" onclick="detalleClient('send-certify/{{ingreso.id}}','Código de Certificado. {{ingreso.id}}')">Enviar por correo</button>
                    {% endif %}
                </td>
                <td colspan="9"></td><td><a type="button" href="/print-certify/{{ingreso.id}}" target="_blank" id="print" class="btn btn-success">Imprimir</a></td>
            </tr>
        </tfoot>
    </table>
    </div>
    <script type="text/javascript">
        $('#formresult').submit(function(e){
            e.preventDefault();
            var dato=$(this).serialize();
            $.ajax({
                type:'POST',
                url:$(this).attr("action"),
                data: dato,
                success:function(resp){
                        $(".x_content").html(resp);
                }
            });
        });
        function detalleClient(route,title){
            $(".modal-title").text(title);
            $.ajax({
                type:'GET',
                url:route,
                success:function(resp){
                    $(".modal-body").html(resp);  
                }
            });
        }
        function restoreProduct(route,title){
            $.ajax({
              type:'GET',
              url: route,
              success:function(resp){
                $('.x_content').html(resp);
                /*
    fix this part because when I'm restoring a product it shows and hides the modal
    ***
    To fix, you need to send the request to a url, then create a template that will display the product data.
    */
                $(".modal .close").click();
              }
            });
        }
        var listIdProduct;
        $('[name="checks[]"]').click(function() {
          
          var arr = $('[name="checks[]"]:checked').map(function(){
            return this.value;
          }).get();
          
          listIdProduct = arr.join(',');
          
          //console.log(JSON.stringify(arr));
          
          //console.log(str);
        
        });
        
        $( "#id_fecha" ).datepicker({
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        }); 
    </script>
