<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Certificado</title>
    <style>
        table{font-size: 4;}
        table td tr{padding: 3px;}
        p{text-align: center;}
    </style>
</head>
<body>
    <br>
    <table>
        <tr>
            <td align="center" style="font-size: 3;">
                Laboratorio Químico<br>
                1 de Mayo<br>
                Potosí-Bolivia
            </td>
            <td align="center"  style="font-size: 3;">
                Dirección Calle: Surco 314<br>
                Celular: 77474926<br>
                Email: lab.quimico1de.mayo@gmail.com 
            </td>
        </tr>
        
    </table><br><br>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <table style="max-width: 60%; margin: auto; margin-top: 50px; font-size: 5;">
                    <tr>
                        <td align="center" colspan="11">
                            <strong>CERTIFICADO DE ANÁLISIS DE MINERALES NRO : {{ingreso.id}}</strong>
                        </td>
                    </tr>
                    <thead>
                        <th width="130px">FECHA</th>
                        <th width="152px">LOTE</th>
                        {% for key, value in getTotal.items %}
                            {% if not value == 0 %}
                                <th width="100px">
                                    {% if not key == 'DM.Ag' %}
                                        %{{ key }}
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                </th>
                            {% else %}
                                <th width="0%"></th>
                            {% endif %}
                        {% endfor %} 
                    </thead>
                    <tbody>
                        {% for i in productos %}
                        <tr style="padding:0px">
                            <td align="center">{{i.fecha|date:" d/m/Y"}}</td>
                            <td align="center">{{i.Lote|upper}}</td>
                            {% for j in results %}       
                                {% if j.producto_id == i.id %}
                                        <td align="center">{{j.Zinc|default_if_none:" "}}</td>
                                        <td align="center">{{j.Plata|default_if_none:" "}}</td>
                                        <td align="center">{{j.Plomo|default_if_none:" "}}</td>

                                        <td align="center">{{j.Estanio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Cobre|default_if_none:" "}}</td>
                                        <td align="center">{{j.H2O|default_if_none:" "}}</td>

                                        <td align="center">{{j.Antimonio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Arsenico|default_if_none:" "}}</td>
                                        <td align="center">{{j.Hierro|default_if_none:" "}}</td>

                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="3" style="font-size: 4;">
                            Fecha de impreción: {{date_today|date}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-size: 3;">
                            Si desea hacer alguna consulta sobre este documento, 
                            póngase en contacto con el propietario celular: 77474926 
                            o al correo: lab.quimico1de.mayo@gmail.com
                        </td>
                    </tr>
                </table>
            </td>
            <td width="100px"></td>
        </tr>
    </table>
</body>
</html>
