<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <style>
        table{font-size: 4;}
        table td tr{padding: 3px;}
        p{text-align: center;}
    </style>
</head>
<body>
    <br>
    <table style="font-size: 5;">
        <tr><br><br><br>
            <td></td>
            <td><br><br><br></td>
            <td align="center"><br>{{ingreso.id}}</td>
        </tr>
        <tr>
            <td width="260px"></td>
            <td colspan="2" align="center"> {{ingreso.cliente.Nombre|upper}}
                <br><br><br><br><br><br>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <table style="max-width: 60%; margin: auto; margin-top: 100px; font-size: 4;">
                    <thead>
                        <th width="130px">Fecha</th>

                        <th width="152px">Lote</th>
                        {% for key, value in getTotal.items %}
                            {% if not value == 0 %}
                                <th width="100px">
                                    {% if not key == 'DM.Ag' %}
                                        %{{ key }}
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                </th>
                            {% else %}
                                <th width="0%"></th>

                            {% endif %}
                        {% endfor %} 
                    </thead>
                    <tbody>
                        {% for i in productos %}
                        <tr>
                            <td align="center">{{i.fecha|date:" d/m/Y"}}</td>
                            <td align="center">{{i.Lote|upper}}</td>

                            {% for j in results %}       
                                {% if j.producto_id == i.id %}
                                        <td align="center">{{j.Zinc|default_if_none:" "}}</td>

                                        <td align="center">{{j.Plata|default_if_none:" "}}</td>
                                        <td align="center">{{j.Plomo|default_if_none:" "}}</td>

                                        <td align="center">{{j.Estanio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Cobre|default_if_none:" "}}</td>
                                        <td align="center">{{j.H2O|default_if_none:" "}}</td>

                                        <td align="center">{{j.Antimonio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Arsenico|default_if_none:" "}}</td>
                                        <td align="center">{{j.Hierro|default_if_none:" "}}</td>

                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td width="100px"></td>
        </tr>
    </table><br>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <strong>Fecha:</strong> Potosí {{date_today|date}}<br>
            </td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td>
                <strong>
                    {% if usuario.is_superuser %}
                        Gefe de Laboratorio
                    {% else %}
                        Usuario
                    {% endif %}
                    :</strong> {{usuario.get_full_name|title}}
            </td>
        </tr>
    </table>
</body>
</html>