<meta charset="utf-8">
<div class="table-responsive">
    <table>
        <tr>
            <td align="center" style="font-size: 3;">
                Laboratorio Químico<br>
                1 de Mayo<br>
                Potosí-Bolivia
            </td>
            <td align="center" style="font-size: 5;"><strong><br>DETALLE DE ANÁLISIS DE MINERALES</strong><br></td>
            <td align="center"  style="font-size: 3;">
                Dirección Calle: Surco 314<br>
                Celular: 77474926<br>
                Email: lab.quim.1mayo@gmail.com 
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3" style="font-size: 5;"><strong>DESDE: {{fecha_inicio|date:"d M Y"}} HASTA: {{fecha_fin|date:"d M Y"}}</strong></td>
        </tr>
        {% if cliente %}
        <tr>
            <td align="center" colspan="3" style="font-size: 5;"><strong>PARA: {{cliente.Nombre|upper}}</strong><br></td>
        </tr>
        {% endif %}
    </table>

    <table style="font-size: 5;" class="table table-hover table-striped table-bordered dt-responsive datatable">
        
        <tbody>
            <tr>
                <td colspan="2" width="400px">PRECIO POR ELEMENTO:</td>
                <th width="122px">%Zn</th>
                <th width="122px">DM.Ag</th>
                <th width="122px">%Pb</th>
                <th width="122px">%Sn</th>
                <th width="122px">%Cu</th>
                <th width="122px">%H2O</th>

                <th width="122px">%Sb</th>
                <th width="122px">%As</th>
                <th width="122px">%Fe</th>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td align="center">{{precio.Zinc}}</td>
                <td align="center">{{precio.Plata}}</td>
                <td align="center">{{precio.Plomo}}</td>
                <td align="center">{{precio.Estanio}}</td>
                <td align="center">{{precio.Cobre}}</td>
                <td align="center">{{precio.H2O}}</td>
                <td align="center">{{precio.Antimonio}}</td>
                <td align="center">{{precio.Arsenico}}</td>
                <td align="center">{{precio.Hierro}}</td>
            </tr>
        </tbody>
        <tfoot>
            
            <tr>
                <td colspan="2" width="250px"><br>CANTIDAD DE ANALISIS:</td>
                
                {% for key, value in getTotal.items %}

                    <td align="center"><br>{{ value }}</td>
                {% endfor %}   
            </tr>
            <tr>
                <td colspan="2" width="250px">SUBTOTALES:</td>
                {% for key, value in calcularPrecios.items %}
                    <td align="center">{{ value }}</td>
                {% endfor %} 
            </tr>
            <tr>
                <td width="250px"><br>TOTAL GENERAL:</td>
                <td colspan="5"><br>{{total_general}} ENSAYOS REALIZADOS </td>
                <td colspan="4"><br>{{ totalPrecio }} Bs.</td>
            </tr>
            <tr>
                <td colspan="11" align="center"><br>{{date_today|date}}</td>
            </tr>
            <tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <td colspan="11" align="center">{{usuario.get_full_name|title}}</td>
            </tr>
            <tr>
                {% if usuario.is_superuser %}
                <td colspan="11" align="center">JEFE DE LABORATORIO</td>
                {% else %}
                <td colspan="11" align="center">USUARIO</td>
                {% endif %}
            </tr>
        </tfoot>
</table>
</div>