<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <style>
        table{font-size: 4;}
        table td tr{padding: 3px;}
        p{text-align: center;}
    </style>
</head>
<body>
    <br><br>
    {% if ingreso.cliente.Particular %}
        <br>
    {% endif %}
    <table style="font-size: 5;">
        <tr><br><br><br>
            <td style="font-size: 4; margin-left: 100px;" colspan="2"><br><br>
                <br>
            </td>
            <td align="left"><br>{{ingreso.id}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="margin-left: 100px;">
                <strong>{{ingreso.cliente.Nombre|upper}}</strong>
                <br><br><br><br><br><br>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <table style="max-width: 60%; margin: auto; margin-top: 100px; font-size: 5;">
                    <thead>
                        <th width="130px">FECHA</th>
                        <th width="152px">LOTE</th>
                        {% for key, value in getTotal.items %}
                            {% if not value == 0 %}
                                <th width="100px">
                                    {% if not key == 'DM.Ag' %}
                                        %{{ key }}
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                </th>
                            {% else %}
                                <th width="0%"></th>
                            {% endif %}
                        {% endfor %} 
                    </thead>
                    <tbody>
                        {% for i in productos %}
                        <tr style="padding:0px">
                            <td align="center">{{i.fecha|date:" d/m/Y"}}</td>
                            <td align="center">{{i.Lote|upper}}</td>
                            {% for j in results %}       
                                {% if j.producto_id == i.id %}
                                        <td align="center">{{j.Zinc|default_if_none:" "}}</td>
                                        <td align="center">{{j.Plata|default_if_none:" "}}</td>
                                        <td align="center">{{j.Plomo|default_if_none:" "}}</td>

                                        <td align="center">{{j.Estanio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Cobre|default_if_none:" "}}</td>
                                        <td align="center">{{j.H2O|default_if_none:" "}}</td>

                                        <td align="center">{{j.Antimonio|default_if_none:" "}}</td>
                                        <td align="center">{{j.Arsenico|default_if_none:" "}}</td>
                                        <td align="center">{{j.Hierro|default_if_none:" "}}</td>

                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tr>
                        <td colspan="3" style="font-size: 4;">
                            Potosí {{date_today|date}}
                        </td>
                    </tr>
                </table>
            </td>
            <td width="100px"></td>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <br><br><br><br>
                    <strong>
                        {% if usuario.is_superuser %}
                            Jefe de Laboratorio<br>
                        {% else %}
                            Usuario <br>
                        {% endif %}
                    </strong> {{usuario.get_full_name|title}}
            </tr>
    </table><br>
</body>
</html>
