<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <style>
        table{font-size: 4;}
        table td tr{padding: 3px;}
        p{text-align: center;}
    </style>
</head>
<body>
    
    <table>
        <thead>
            <th colspan="2" style="font-size: 18px;">
                <br>REPORTE DE
            </th>
        </thead>
        <thead>
            <th colspan="2" style="font-size: 18px;">
                ANÁLISIS
            </th>
        </thead>
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td>
               
            </td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td>
                <br><strong>Perteneciente a: </strong> {{getProduct.Cliente.Nombre|upper}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <table border="0.5" style="width: 60%; margin: auto; margin-top: 100px;">
                    <thead>
                        <th>Fecha</th>
                        <th>Lote</th>
                        <th>Resultados</th>
                    </thead>
                    <tbody>
                        {% for i in idProductos %}
                            {% for producto in productos %}
                                {% if i == producto.id %}
                                    <tr>
                                        <td>{{producto.fecha_registro|date:"d M Y"}}</td>
                                        <td>{{producto.Lote}}</td>
                                        <td>
                                        {% for resultado in resultados %}
                                            {% if resultado.producto.id == producto.id %}
                                                {{resultado.Elemento.Abreviatura}} {{resultado.Resultado}}
                                            {% endif %}
                                        {% endfor %} 
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td width="100px"></td>
        </tr>
    </table><br>
    <table>
        <tr>
            <td width="100px"></td>
            <td>
                <strong>Fecha:</strong> Potosí {{date_today}}<br>
            </td>
        </tr>
        <tr>
            <td width="100px"></td>
            <td>
                <strong>Gefe de Laboratorio:</strong> {{usuario}}
            </td>
        </tr>
    </table>
</body>
</html>