<meta charset="utf-8">
<div class="table-responsive">
    <table style="font-size: 5;" class="table table-hover table-striped table-bordered dt-responsive datatable">
        <tr>
            <td align="center" colspan="8">DETALLE DE ANÁLISIS DE MINERALES<br></td>
        </tr>
        {% if cliente %}
        <tr>
            <td align="center" colspan="8">DESDE: {{fecha_inicio|date:"d M Y"}} HASTA: {{fecha_fin|date:"d M Y"}}</td>
        </tr>
        {% endif %}
        <tr>
            <td align="center" colspan="8">PERTENECIENTE A: {{cliente.Nombre|upper}}<br></td>
        </tr>
        <thead>
        <tr>
            <th style="width: 15%;">Fecha</th>
            <th>Lote</th>
            
            <th width="152px">Zinc</th>
            <th width="152px">Plata</th>
            <th width="152px">Plomo</th>
            <th width="152px">Estaño</th>
            <th width="152px">Cobre</th>
            <th width="152px">H2O</th>
        </tr>
        </thead>
        <tbody>
            {% for producto in products %}
                <tr>
                    <td align="center">{{producto.fecha_registro|date:"d M Y"}}</td>
                    <td align="center">{{producto.Lote}}</td>
                    {% for resultado in results %}
                        {% if resultado.producto_id == producto.id %}
                            <td align="center">{{resultado.Zinc|default_if_none:" "}}</td>

                            <td align="center">{{resultado.Plata|default_if_none:" "}}</td>
                            <td align="center">{{resultado.Plomo|default_if_none:" "}}</td>

                            <td align="center">{{resultado.Estanio|default_if_none:" "}}</td>
                            <td align="center">{{resultado.Cobre|default_if_none:" "}}</td>
                            <td align="center">{{resultado.H2O|default_if_none:" "}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="2">TOTALES</td>
                {% for key, value in getTotal.items %}
                <td align="center">{{ value }}</td>
                {% endfor %}  
            </tr>
            <tr>
                <td colspan="8">TOTAL GENERAL : {{total_general}} ENSAYOS REALIZADOS</td>
            </tr>
            <tr>
                <td colspan="8" align="center"><br>{{date_today}}</td>
            </tr>
            <tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <td colspan="8" align="center">{{usuario}}</td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    JEFE DE LABORATORIO
                </td>
            </tr>
        </tfoot>
</table>
</div>