# Default ignored files
/shelf/
/workspace.xml
db.sqlite3
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
__pycache__/
.idea
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

.DS_Store